# Pandas
##### My Github:ARSALANnam
##### My Email: arsalannam9710@gmail.com
##### My Linkedin:www.linkedin.com/in/arsalannam

<div style="direction: rtl; text-align: right; font-size: 30px">
    Pandas چیست ؟
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    کتابخانه‌ی pandas یکی از مهم‌ترین ابزارها برای تحلیل داده‌ها در پایتونه. اسمش از واژه‌ی "panel data" گرفته شده که در اقتصاد به مجموعه داده‌های چندبعدی اشاره داره.


</div>

<div style="direction: rtl; text-align: right; font-size: 30px; color:green">
 ویژگی‌های مهم pandas
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
⦿ ساختارهای داده‌ی پیشرفته
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ Series = آرایه‌ی یک‌بعدی با ایندکس
<br>
◂ DataFrame = جدول دوبعدی مثل اکسل (ردیف و ستون)
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
⦿ خواندن و نوشتن داده‌ها
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ قابلیت خوندن و نوشتن از/به فرمت‌های مختلف مثل:
<br>
● CSV
<br>
● Excel
<br>
● SQL
<br>
● JSON
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
⦿ فیلتر، مرتب‌سازی، و گروه‌بندی
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ به راحتی می‌تونی داده‌ها رو فیلتر کنی، مرتب کنی، یا بر اساس یک ستون گروه‌بندی کنی 
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
⦿  محاسبات آماری سریع
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ تابع‌های آماده برای محاسبات:
    <br>
● mean() میانگین
    <br>
● sum() مجموع
    <br>
● count() تعداد
    <br>
● std() انحراف معیار و ...
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
⦿ ادغام و ترکیب داده‌ها
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ اتصال چند جدول با merge() و concat()
    <br>
◂ پر کردن داده‌های گمشده با fillna()
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
⦿ پشتیبانی از داده‌های زمانی
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ مناسب برای تحلیل‌های سری‌زمانی (تاریخ و زمان)
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
❞ کاربردها:
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
⦁ علم داده (Data Science)
    <br>
⦁ یادگیری ماشین
    <br>
⦁ تحلیل آماری
    <br>
⦁ گزارش‌گیری و داشبوردها
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
 نصب Pandas
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    اگر پایتون روی سیستمته و pip هم فعاله، با این دستور می‌تونی نصبش کنی:
</div>

In [440]:
pip install pandas

Requirement already satisfied: pandas in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: /home/arsalan/.local/share/pipx/venvs/notebook/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

<div style="direction: rtl; text-align: right; font-size: 20px">
    اگر از نسخه خاصی از پایتون استفاده می‌کنی (مثلاً پایتون ۳):
</div>

pip3 install pandas

<div style="direction: rtl; text-align: right; font-size: 20px">
     چک کردن نصب
</div>

In [441]:
import pandas as pd
print(pd.__version__)

2.2.3

<div style="direction: rtl; text-align: right; font-size: 15px">
    اگه نسخه‌ای چاپ شد (مثلاً 2.2.1)، یعنی نصب موفق بوده.
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
    چگونه Pandas را وارد کنیم ؟
</div>

In [442]:
import pandas as pd

<div style="direction: rtl; text-align: right; font-size: 30px">
     ساختارهای اصلی داده:
</div>

<div style="direction: rtl; text-align: right; font-size: 25px; color:green">
•     Series
    <br>
⬩    آرایه‌ای یک‌بعدی با ایندکس
</div>

In [443]:
s = pd.Series([10, 20, 30])

In [444]:
print(s)

0    10
1    20
2    30
dtype: int64

<div style="direction: rtl; text-align: right; font-size: 20px">
· Series یک آرایه یک‌بعدی است که داده‌ها را نگه می‌دارد.
    <br>
· هر عنصر در Series یک برچسب (label) یا ایندکس دارد، یعنی برخلاف لیست ساده در پایتون، هر خانه یک نام دارد.
    <br>
· می‌تواند شامل انواع مختلف داده‌ها باشد: اعداد، رشته، یا حتی اشیاء پایتون.

</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    ساخت Series با تعیین ایندکس
</div>

In [445]:
s = pd.Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    1
b    3
c    5
d    7
e    9
dtype: int64

<div style="direction: rtl; text-align: right; font-size: 20px">
    دسترسی به مقادیر Series
</div>

In [446]:
print(s['c'])

5

<div style="direction: rtl; text-align: right; font-size: 20px">
    Series با داده‌های مختلف و داده‌های نامعلوم
</div>

In [447]:
s = pd.Series([1, 2, None, 4])
print(s)

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

<div style="direction: rtl; text-align: right; font-size: 30px">
</div>

<div style="direction: rtl; text-align: right; font-size: 25px; color:green">
• DataFrame
    <br>
⬩ جدول دوبعدی (مثل اکسل) با ردیف و ستون
</div>

In [448]:
data = {'name': ['Arsalan', 'Natalie'], 'age': [19, 22]}
df = pd.DataFrame(data)

In [449]:
print(df)

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
 •   Series در Pandas یعنی یک آرایه یک‌بعدی داده‌ها که ایندکس هم دارد.
    <br>
 •   هر ستون در DataFrame دقیقا یک Series مستقل است.
    <br>
</div>

<div style="direction: rtl; text-align: right; font-size: 30px; color:red">
    نکات مهم :
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    • چون هر ستون Series است، می‌توانیم روی هر ستون به صورت مستقل عملیات انجام دهیم (مثل اعمال توابع، فیلتر کردن، محاسبات ریاضی و ...).
    <br>
    • هر Series نام (name) خود را دارد که همان نام ستون است.
    <br>
    • ایندکس Series همان ایندکس DataFrame است.
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
    بررسی‌های پایه‌ای روی DataFrame
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    نمایش کل جدول:
</div>

In [450]:
print(df)

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
    نمایش اولین ردیف‌ها:
</div>

In [451]:
df.head()

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
    می‌توان تعداد سطر را مشخص کرد
</div>

In [452]:
df.head(3)

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
    نمایش آخرین ردیف ها :
</div>

In [453]:
df.tail()

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
    نمایش اطلاعات خلاصه درباره‌ی جدول:
</div>

In [454]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes

<div style="direction: rtl; text-align: right; font-size: 20px">
     دیدن ایندکس، ستون‌ها و مقادیر
</div>

In [455]:
df.index      # ایندکس‌ها (ردیف‌ها)

RangeIndex(start=0, stop=2, step=1)

In [456]:
df.columns    # نام ستون‌ها

Index(['name', 'age'], dtype='object')

In [457]:
df.values     # مقادیر خام به‌صورت آرایه numpy

array([['Arsalan', 19],
       ['Natalie', 22]], dtype=object)

<div style="direction: rtl; text-align: right; font-size: 20px">
    آمار توصیفی از داده‌های عددی:
</div>

In [458]:
df.describe()

            age
count   2.00000
mean   20.50000
std     2.12132
min    19.00000
25%    19.75000
50%    20.50000
75%    21.25000
max    22.00000

<div style="direction: rtl; text-align: right; font-size: 30px">
    خواندن و نوشتن داده‌ها (Read/Write)
</div>

<div style="direction: rtl; text-align: right; font-size: 20px; color: red">
نکته : بخش خوندن فایل ,نمونه کدش به صورت raw قرار داره که ارور نخوره چون فایلی نیست در حال حاضر که بخواد بخونه
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    خواندن داده‌ها از فایل CSV
</div>

df = pd.read_csv('data.csv')

<div style="direction: rtl; text-align: right; font-size: 20px">
    ذخیره کردن DataFrame به CSV
</div>

In [459]:
df.to_csv('output.csv', index=False)

<div style="direction: rtl; text-align: right; font-size: 20px; color:red">
    index=False یعنی شماره ردیف‌ها ذخیره نشود (معمولاً لازم است).
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    خواندن فایل‌های Excel
</div>

df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

<div style="direction: rtl; text-align: right; font-size: 20px">
    نوشتن فایل‌های Excel
</div>

<div style="direction: rtl; text-align: right; font-size: 20px; color:red">
برای استفاده از این قابلیت باید کتابخونه openpyxl نصب کنی.
</div>

In [460]:
pip install openpyxl

Requirement already satisfied: openpyxl in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/arsalan/.local/share/pipx/venvs/notebook/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: /home/arsalan/.local/share/pipx/venvs/notebook/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [461]:
df.to_excel('output.xlsx', index=False)

<div style="direction: rtl; text-align: right; font-size: 20px">
    خواندن داده‌های JSON
</div>

df = pd.read_json('data.json')

<div style="direction: rtl; text-align: right; font-size: 20px">
    خواندن داده از فایل HTML
</div>

tables = pd.read_html('file.html')

<div style="direction: rtl; text-align: right; font-size: 20px; color:red">
برای خوندن فایل html هم نیاز به کتابخونه دیگه ای دارید به اسم lxml.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    خواندن داده از پایگاه داده SQL
</div>

<div style="direction: rtl; text-align: right; font-size: 18px">
    این بخش یکم پیچیده تر نسبت به بقیه فایل ها هست.
    <br>
    ابتدا باید یک اتصال (Connection) به دیتابیس داشته باشی. معمولاً با کتابخانه‌هایی مثل sqlite3 یا sqlalchemy.
    <br>
    سپس با pd.read_sql() یا pd.read_sql_query() کوئری SQL رو اجرا و نتایج رو DataFrame می‌کنه.
</div>

<div style="direction: rtl; text-align: right; font-size: 18px; color:red">
    نکته : برای کار با دیتابیس‌های مختلف مثل MySQL، PostgreSQL، نیاز به نصب درایورهای مربوطه (مثل pymysql, psycopg2) و استفاده از sqlalchemy داری.
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
    فیلتر کردن و انتخاب زیرمجموعه داده‌ها
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
     انتخاب ستون‌ها
</div>

In [462]:
df['name']

0    Arsalan
1    Natalie
Name: name, dtype: object

In [463]:
df[['name', 'age']]

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
    انتخاب ردیف‌ها با شرط(فیلتر کردن)
</div>

In [464]:
df[df['age'] > 20]

      name  age
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
ترکیب شرط ها ( فیلتر کردن با شرط)
    <br>
    شرط‌های چندگانه با & (و) و | (یا) و باید پرانتز بزنی:
</div>

In [465]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, None, 7, 2],
    'bananas': [1, 2, 3, 4]
}
ds = pd.DataFrame(data)

In [466]:
ds[(ds['apples'] > 2) & (ds['oranges'] < 5)]

   apples  oranges  bananas
0       3      0.0        1

<div style="direction: rtl; text-align: right; font-size: 20px">
    انتخاب سطر با برش (Slicing)
</div>

In [467]:
ds[0:3]

   apples  oranges  bananas
0       3      0.0        1
1       2      NaN        2
2       0      7.0        3

<div style="direction: rtl; text-align: right; font-size: 20px">
انتخاب ردیف و ستون با .loc
</div>

<div style="direction: rtl; text-align: right; font-size: 17px">
    .loc بر اساس برچسب‌ها (ایندکس ردیف و نام ستون) انتخاب می‌کند.
</div>

ds.loc[condition, ['col1', 'col2']]

In [468]:
ds.loc[ds['apples'] > 2, ['apples', 'oranges']]

   apples  oranges
0       3      0.0

<div style="direction: rtl; text-align: right; font-size: 20px">
 انتخاب بر اساس موقعیت عددی با .iloc
</div>

In [469]:
ds.iloc[:3, :2]

   apples  oranges
0       3      0.0
1       2      NaN
2       0      7.0

<div style="direction: rtl; text-align: right; font-size: 20px">
فیلتر کردن مقادیر غیر NaN
</div>

In [470]:
ds[ds['oranges'].notna()]

   apples  oranges  bananas
0       3      0.0        1
2       0      7.0        3
3       1      2.0        4

<div style="direction: rtl; text-align: right; font-size: 20px">
    فیلتر کردن با مقدارهای خاص
</div>

In [471]:
ds[ds['apples'].isin([0, 3])]

   apples  oranges  bananas
0       3      0.0        1
2       0      7.0        3

<div style="direction: rtl; text-align: right; font-size: 30px">
    چطور ستون جدید به DataFrame اضافه کنیم؟
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    اضافه کردن ستون با محاسبه
</div>

In [472]:
ds['total_fruits'] = ds['apples'] + ds['oranges']
print(ds)

   apples  oranges  bananas  total_fruits
0       3      0.0        1           3.0
1       2      NaN        2           NaN
2       0      7.0        3           7.0
3       1      2.0        4           3.0

<div style="direction: rtl; text-align: right; font-size: 20px">
    اضافه کردن ستون ثابت
</div>

In [473]:
ds['country'] = 'Iran'
print(ds)

   apples  oranges  bananas  total_fruits country
0       3      0.0        1           3.0    Iran
1       2      NaN        2           NaN    Iran
2       0      7.0        3           7.0    Iran
3       1      2.0        4           3.0    Iran

<div style="direction: rtl; text-align: right; font-size: 20px">
     اضافه کردن با لیست یا سری
</div>

In [474]:
ds['prices'] = [1000, 2000, 1500, 1200]
print(ds)

   apples  oranges  bananas  total_fruits country  prices
0       3      0.0        1           3.0    Iran    1000
1       2      NaN        2           NaN    Iran    2000
2       0      7.0        3           7.0    Iran    1500
3       1      2.0        4           3.0    Iran    1200

<div style="direction: rtl; text-align: right; font-size: 20px">
    با تابع
</div>

In [475]:
ds['label'] = ds['apples'].apply(lambda x: 'low' if x < 2 else 'high')
print(ds)

   apples  oranges  bananas  total_fruits country  prices label
0       3      0.0        1           3.0    Iran    1000  high
1       2      NaN        2           NaN    Iran    2000  high
2       0      7.0        3           7.0    Iran    1500   low
3       1      2.0        4           3.0    Iran    1200   low

<div style="direction: rtl; text-align: right; font-size: 30px">
    محاسبه آمار در Pandas
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    توصیف آماری سریع 
    <br>
⬩    خروجی شامل:
    <br>
• تعداد داده‌ها (count)
    <br>
• میانگین (mean)
    <br>
• انحراف معیار (std)
    <br>
• مینیمم، ماکزیمم، چارک‌ها (25%، 50%، 75%)
</div>

In [476]:
ds.describe()

         apples   oranges   bananas  total_fruits       prices
count  4.000000  3.000000  4.000000      3.000000     4.000000
mean   1.500000  3.000000  2.500000      4.333333  1425.000000
std    1.290994  3.605551  1.290994      2.309401   434.932945
min    0.000000  0.000000  1.000000      3.000000  1000.000000
25%    0.750000  1.000000  1.750000      3.000000  1150.000000
50%    1.500000  2.000000  2.500000      3.000000  1350.000000
75%    2.250000  4.500000  3.250000      5.000000  1625.000000
max    3.000000  7.000000  4.000000      7.000000  2000.000000

<div style="direction: rtl; text-align: right; font-size: 20px">
    میانگین (Average)
</div>

In [477]:
ds['apples'].mean()

np.float64(1.5)

<div style="direction: rtl; text-align: right; font-size: 20px">
    مجموع
</div>

In [478]:
ds['apples'].sum()

np.int64(6)

<div style="direction: rtl; text-align: right; font-size: 20px">
    کمترین و بیشترین مقدار
</div>

In [479]:
print(ds['apples'].min())
print(ds['apples'].max())

0
3

<div style="direction: rtl; text-align: right; font-size: 20px">
    شمارش تعداد (مقادیر غیر خالی)
</div>

In [480]:
ds['apples'].count()

np.int64(4)

<div style="direction: rtl; text-align: right; font-size: 20px">
    شمارش فراوانی مقادیر
</div>

In [481]:
ds['apples'].value_counts()

apples
3    1
2    1
0    1
1    1
Name: count, dtype: int64

<div style="direction: rtl; text-align: right; font-size: 20px">
انحراف معیار و واریانس
</div>

In [482]:
print(ds['apples'].std())
print(ds['apples'].var())

1.2909944487358056
1.6666666666666667

<div style="direction: rtl; text-align: right; font-size: 20px">
     ترکیب چند تابع 
</div>

In [483]:
ds.agg({
    'apples': ['sum', 'mean'],
    'oranges': ['min', 'max']
})

      apples  oranges
sum      6.0      NaN
mean     1.5      NaN
min      NaN      0.0
max      NaN      7.0

<div style="direction: rtl; text-align: right; font-size: 20px">
     استفاده از agg() روی یک ستون
</div>

In [484]:
ds['apples'].agg(['sum', 'max', 'mean'])

sum     6.0
max     3.0
mean    1.5
Name: apples, dtype: float64

<div style="direction: rtl; text-align: right; font-size: 20px; color:red">
    وقتی بخواهی خلاصه‌ای از چند ویژگی خاص بگیری، agg() خیلی جمع‌وجور و خواناست.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    اگه بخواهیم توابع آماری مثل مجموع,میانگین و .... برای هر گروه جدا حساب کنیم باید طبق روش زیر بریم :
    <br>
•    فرض کن یک ستون به‌نام category داریم که نوع داده را مشخص می‌کند.
</div>

In [485]:
do = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B'],
    'apples': [5, 2, 4, 2],
    'oranges': [8, 3, 9, 7]
})

grouped = do.groupby('category').sum()
print(grouped)

          apples  oranges
category
A              9       17
B              4       10

<div style="direction: rtl; text-align: right; font-size: 20px">
•    groupby('category'): داده‌ها را بر اساس مقدار ستون category گروه‌بندی می‌کند.
    <br>
•    سپس تابعی مثل sum()، mean()، count() و ... روی هر گروه اجرا می‌شود.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    چند تابع با agg() روی گروه‌ها:
</div>

In [486]:
do.groupby('category').agg({
    'apples': 'sum',
    'oranges': 'mean'
})

          apples  oranges
category
A              9      8.5
B              4      5.0

<div style="direction: rtl; text-align: right; font-size: 20px">
    اگر بخواهی چند آمار مختلف روی یک ستون بگیری:
</div>

In [487]:
do.groupby('category')['apples'].agg(['sum', 'mean', 'max'])

          sum  mean  max
category
A           9   4.5    5
B           4   2.0    2

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ کاربردها:
    <br>
• آمار فروش بر اساس فروشنده
    <br>
• مجموع خرید هر مشتری
    <br>
• میانگین نمره بر اساس کلاس
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
    تغییر شکل جدول‌ها (reshape)
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
     تبدیل داده‌ها به جدول با ردیف‌ها و ستون‌های جدید
    <br>
◂    تبدیل جدول از حالت طولی (Long) به حالت عریض (Wide)
</div>

In [488]:
de = pd.DataFrame({
    'date': ['2024-01', '2024-01', '2024-02', '2024-02'],
    'fruit': ['apple', 'orange', 'apple', 'orange'],
    'sales': [100, 80, 90, 70]
})

In [489]:
de.pivot(index='date', columns='fruit', values='sales')

fruit    apple  orange
date
2024-01    100      80
2024-02     90      70

<div style="direction: rtl; text-align: right; font-size: 20px">
تبدیل جدول گسترده به حالت طولی (برعکس pivot)
    <br>
◂ تبدیل جدول از فرمت عریض (Wide) به فرمت طولی (Long)
</div>

In [490]:
de_melted = de.pivot(index='date', columns='fruit', values='sales').reset_index()
de_melted = de_melted.melt(id_vars='date', var_name='fruit', value_name='sales')
print(de_melted)

      date   fruit  sales
0  2024-01   apple    100
1  2024-02   apple     90
2  2024-01  orange     80
3  2024-02  orange     70

<div style="direction: rtl; text-align: right; font-size: 15px">
•    id_vars : ستون‌هایی که ثابت می‌مونن (مثل تاریخ)
    <br>
•    var_name : اسم ستون متغیر 
    <br>
•    value_name : اسم مقدارها
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
تبدیل ستون ها به سطر
</div>

In [491]:
de.set_index(['date', 'fruit']).stack()

date     fruit
2024-01  apple   sales    100
         orange  sales     80
2024-02  apple   sales     90
         orange  sales     70
dtype: int64

<div style="direction: rtl; text-align: right; font-size: 20px">
تبدیل سطر به ستون
</div>

In [492]:
de.set_index(['date', 'fruit']).unstack()

        sales
fruit   apple orange
date
2024-01   100     80
2024-02    90     70

<div style="direction: rtl; text-align: right; font-size: 20px">
چرخاندن کامل جدول
</div>

In [493]:
de.T

             0        1        2        3
date   2024-01  2024-01  2024-02  2024-02
fruit    apple   orange    apple   orange
sales      100       80       90       70

<div style="direction: rtl; text-align: right; font-size: 30px">
مرتب‌سازی ردیف‌های جدول
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
وقتی می‌خوای داده‌ها رو براساس مقدار یک ستون مرتب کنی 
</div>

In [494]:
de.sort_values(by='sales')

      date   fruit  sales
3  2024-02  orange     70
1  2024-01  orange     80
2  2024-02   apple     90
0  2024-01   apple    100

<div style="direction: rtl; text-align: right; font-size: 15px">
•    پیش‌فرض: از کوچک به بزرگ (ascending=True)
    <br>
• می‌تونی برعکسش کنی:
</div>

In [495]:
de.sort_values(by='sales', ascending=False)

      date   fruit  sales
0  2024-01   apple    100
2  2024-02   apple     90
1  2024-01  orange     80
3  2024-02  orange     70

<div style="direction: rtl; text-align: right; font-size: 20px">
مرتب‌سازی با چند ستون
</div>

In [496]:
de.sort_values(by=['fruit', 'sales'], ascending=[True, False])

      date   fruit  sales
0  2024-01   apple    100
2  2024-02   apple     90
1  2024-01  orange     80
3  2024-02  orange     70

<div style="direction: rtl; text-align: right; font-size: 17px">
• این یعنی اول بر اساس fruit، بعد برای هر میوه بر اساس sales به صورت نزولی.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
مرتب‌سازی بر اساس ایندکس
</div>

In [497]:
de.sort_index()

      date   fruit  sales
0  2024-01   apple    100
1  2024-01  orange     80
2  2024-02   apple     90
3  2024-02  orange     70

In [498]:
# یا برعکس
de.sort_index(ascending=False)

      date   fruit  sales
3  2024-02  orange     70
2  2024-02   apple     90
1  2024-01  orange     80
0  2024-01   apple    100

<div style="direction: rtl; text-align: right; font-size: 20px">
 inplace
    <br>
•    برای اعمال تغییر در خود DataFrame (بدون ساخت کپی جدید):
</div>

In [499]:
de.sort_values(by='sales', inplace=True)

<div style="direction: rtl; text-align: right; font-size: 30px">
Pivot Table در Pandas
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
Pivot Table خیلی شبیه به Pivot Table در Excel عمل می‌کنه. برای خلاصه‌سازی، گروه‌بندی و محاسبه آمار روی داده‌ها استفاده می‌شه.
</div>

In [500]:
pt = de.pivot_table(index='date', columns='fruit', values='sales', aggfunc='sum')
print(pt)

fruit    apple  orange
date
2024-01    100      80
2024-02     90      70

<div style="direction: rtl; text-align: right; font-size: 20px">
 مثال با چند تابع تجمیعی
</div>

In [501]:
de.pivot_table(index='fruit', values='sales', aggfunc=['sum', 'max'])

         sum   max
       sales sales
fruit
apple    190   100
orange   150    80

<div style="direction: rtl; text-align: right; font-size: 30px">
ترکیب (combine) داده‌فریم‌ها 

</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
    چسباندن داده‌فریم‌ها
</div>

In [502]:
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

pd.concat([df1, df2])

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

<div style="direction: rtl; text-align: right; font-size: 20px; color:red">
    می‌بینی که ایندکس‌ها تکراری شدند. برای اینکه ایندکس‌ها پشت‌سر‌هم باشند:
</div>

In [503]:
pd.concat([df1, df2], ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

<div style="direction: rtl; text-align: right; font-size: 20px">
    پیش‌فرض axis=0 است، یعنی داده‌ها به صورت عمودی چسبانده می‌شوند.
    <br>
    اگر بخواهی به صورت افقی ترکیب کنی:
</div>

pd.concat([df1, df2], axis=1)

<div style="direction: rtl; text-align: right; font-size: 25px">
    ترکیب بر اساس ستون‌های مشترک (مثل JOIN در SQL)
</div>

In [504]:
df1 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

df2 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K4'],
    'C': ['C0', 'C1', 'C2', 'C4'],
    'D': ['D0', 'D1', 'D2', 'D4']
})

pd.merge(df1, df2, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

<div style="direction: rtl; text-align: right; font-size: 20px">
•داده‌ها بر اساس مقدار ستون 'key' که در هر دو جدول هست با هم جفت می‌شوند.
    <br>
•فقط ردیف‌هایی که 'key' در هر دو DataFrame وجود دارد باقی می‌مانند. این حالت پیش‌فرض است و به آن inner join می‌گویند.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
     حالت‌های دیگر با how= :
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
• 'inner' ---> فقط کلیدهای مشترک (پیش‌فرض)
    <br>
• 'outer' ---> همه کلیدها از هر دو جدول
    <br>
• 'left' ---> فقط کلیدهای df1، داده از df2 در صورت وجود
    <br>
• 'right' ---> فقط کلیدهای df2، داده از df1 در صورت وجود
</div>

In [505]:
pd.merge(df1, df2, on='key', how='outer')

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C4   D4

<div style="direction: rtl; text-align: right; font-size: 25px">
     اتصال با ایندکس یا ستون
</div>

In [506]:
left = pd.DataFrame({'A': ['A0', 'A1']}, index=['K0', 'K1'])
right = pd.DataFrame({'B': ['B0', 'B1']}, index=['K0', 'K2'])

left.join(right, how='outer')

      A    B
K0   A0   B0
K1   A1  NaN
K2  NaN   B1

<div style="direction: rtl; text-align: right; font-size: 20px">
    شبیه merge است ولی بر اساس ایندکس عمل می‌کند.
    <br>
    how می‌تواند 'left', 'right', 'outer', 'inner' باشد.
</div>

<div style="direction: rtl; text-align: right; font-size: 30px">
    کار با داده‌های متنی (Text Data)
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
عملیات متنی (String Methods)
</div>

In [507]:
lol = pd.Series(['Gol', 'ml', 'iran', 'linux', 'Jedi', 'Python'])

<div style="direction: rtl; text-align: right; font-size: 20px">
 ◂   حروف ها رو کوچیک میکنه
</div>

In [508]:
lol.str.lower()

0       gol
1        ml
2      iran
3     linux
4      jedi
5    python
dtype: object

<div style="direction: rtl; text-align: right; font-size: 20px">
◂حروف ها رو بزرگ میکنه
</div>

In [509]:
lol.str.upper()

0       GOL
1        ML
2      IRAN
3     LINUX
4      JEDI
5    PYTHON
dtype: object

<div style="direction: rtl; text-align: right; font-size: 20px">
 ◂   طول رشته را می‌دهد

</div>

In [510]:
lol.str.len()

0    3
1    2
2    4
3    5
4    4
5    6
dtype: int64

<div style="direction: rtl; text-align: right; font-size: 20px">
◂    بررسی وجود یک حرف یا رشته
</div>

In [511]:
lol.str.contains("a")

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

<div style="direction: rtl; text-align: right; font-size: 20px">
◂  جایگزینی کاراکتر یا رشته
</div>

In [512]:
lol.str.replace("a", "x")

0       Gol
1        ml
2      irxn
3     linux
4      Jedi
5    Python
dtype: object

<div style="direction: rtl; text-align: right; font-size: 20px">
◂   بررسی شروع رشته با یک حرف خاص
</div>

In [513]:
lol.str.startswith("l")

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

<div style="direction: rtl; text-align: right; font-size: 20px">
◂ جستجوی الگوهای regex
</div>

In [514]:
lol.str.findall(r"[abc]")

0     []
1     []
2    [a]
3     []
4     []
5     []
dtype: object

<div style="direction: rtl; text-align: right; font-size: 20px">
◂  تقسیم رشته به لیست
</div>

In [515]:
lol.str.split()

0       [Gol]
1        [ml]
2      [iran]
3     [linux]
4      [Jedi]
5    [Python]
dtype: object

<div style="direction: rtl; text-align: right; font-size: 30px">
داده‌های گمشده 
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    در Pandas معمولاً داده‌های گمشده به صورت NaN (Not a Number) نمایش داده می‌شن.
</div>

In [516]:
import numpy as np

In [517]:
fg = pd.DataFrame({
    "A": [1, 2, np.nan, 4],
    "B": [np.nan, 2, 3, 4],
    "C": [1, np.nan, np.nan, 4]
})

<div style="direction: rtl; text-align: right; font-size: 20px">
     بررسی داده‌های گمشده
</div>

In [518]:
df.isna()

    name    age
0  False  False
1  False  False

<div style="direction: rtl; text-align: right; font-size: 17px">
    True یعنی اون مقدار گمشده است.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    برای شمارش داده‌های گمشده
</div>

In [519]:
df.isna().sum()

name    0
age     0
dtype: int64

<div style="direction: rtl; text-align: right; font-size: 20px">
     بررسی اینکه آیا داده گمشده‌ای وجود داره
</div>

In [520]:
df.isna().any()

name    False
age     False
dtype: bool

<div style="direction: rtl; text-align: right; font-size: 20px">
    حذف داده‌های گمشده
</div>

In [521]:
df.dropna()

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 20px">
     جایگزینی داده‌های گمشده
</div>

In [522]:
df.fillna(0)

      name  age
0  Arsalan   19
1  Natalie   22

<div style="direction: rtl; text-align: right; font-size: 30px">
    آموزش سری‌های زمانی (Time Series) 
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    تاریخ‌ها به عنوان ایندکس
</div>

In [523]:
date_range = pd.date_range("2023-01-01", periods=6, freq="D") 
# pd.date_range() → ایجاد محدوده‌ای از تاریخ‌ها 
# freq="D" → فرکانس روزانه

In [524]:
df = pd.DataFrame({"value": range(6)}, index=date_range)
print(df)

            value
2023-01-01      0
2023-01-02      1
2023-01-03      2
2023-01-04      3
2023-01-05      4
2023-01-06      5

<div style="direction: rtl; text-align: right; font-size: 20px">
    استخراج اجزای تاریخ مثل سال، ماه، روز، ساعت و غیره از ستون‌های تاریخ یا ایندکس زمانی.
</div>

In [525]:
df.index.year # سال

Index([2023, 2023, 2023, 2023, 2023, 2023], dtype='int32')

In [526]:
df.index.month     # ماه

Index([1, 1, 1, 1, 1, 1], dtype='int32')

In [527]:
df.index.day       # روز

Index([1, 2, 3, 4, 5, 6], dtype='int32')

In [528]:
df.index.weekday   # روز هفته (۰=دوشنبه)

Index([6, 0, 1, 2, 3, 4], dtype='int32')

In [529]:
df.index.day_name()

Index(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], dtype='object')

In [530]:
df.index.month_name()

Index(['January', 'January', 'January', 'January', 'January', 'January'], dtype='object')

In [531]:
df.index.hour

Index([0, 0, 0, 0, 0, 0], dtype='int32')

In [532]:
df.index.minute

Index([0, 0, 0, 0, 0, 0], dtype='int32')

In [533]:
df.index.second

Index([0, 0, 0, 0, 0, 0], dtype='int32')

<div style="direction: rtl; text-align: right; font-size: 20px">
    انتخاب داده با استفاده از تاریخ
</div>

In [534]:
df.loc['2023-01']

            value
2023-01-01      0
2023-01-02      1
2023-01-03      2
2023-01-04      3
2023-01-05      4
2023-01-06      5

<div style="direction: rtl; text-align: right; font-size: 20px">
چطور می‌توانیم یک ستون تاریخ (datetime) را به عنوان ایندکس (index) دیتافریم قرار دهیم 
</div>

In [535]:
data = {
    "date": ["2023-01-01", "2023-01-02", "2023-01-03"],
    "value": [10, 20, 30]
}
df = pd.DataFrame(data)

# تبدیل ستون date به datetime
df["date"] = pd.to_datetime(df["date"])

# قرار دادن ستون date به عنوان ایندکس
df = df.set_index("date")
print(df)

            value
date
2023-01-01     10
2023-01-02     20
2023-01-03     30

<div style="direction: rtl; text-align: right; font-size: 20px">
 تغییر فرکانس داده‌ها (Resampling)
</div>

In [536]:
df.resample("2D").sum() #resample("2D") → گروه‌بندی هر ۲ روز

            value
date
2023-01-01     30
2023-01-03     30

<div style="direction: rtl; text-align: right; font-size: 20px">
تغییر فرکانس زمانی
</div>

In [537]:
df.asfreq("2D") # فقط ایندکس رو به ۲ روز یک بار تغییر می‌ده (بدون جمع یا میانگین)

            value
date
2023-01-01     10
2023-01-03     30

<div style="direction: rtl; text-align: right; font-size: 20px">
    فرکانس‌های رایج:
</div>

 روزانه (Daily) ----> 'D'

هفتگی (Weekly) ----> 'W'

ماهانه (Monthly) ----> 'ME'

سه ماهه (Quarterly) ----> 'Q'

سالانه (Yearly) ----->  'A' یا 'Y'

ساعتی (Hourly) ----->  'H'

دقیقه‌ای ----> 'T' یا 'min'

ثانیه‌ای ----> 'S'

<div style="direction: rtl; text-align: right; font-size: 20px">
شیفت دادن داده‌ها (Shifting)
</div>

In [538]:
df.shift(1)         # داده‌ها را یک سطر به پایین می‌برد

            value
date
2023-01-01    NaN
2023-01-02   10.0
2023-01-03   20.0

In [539]:
df.shift(-1)        # یک سطر به بالا

            value
date
2023-01-01   20.0
2023-01-02   30.0
2023-01-03    NaN

<div style="direction: rtl; text-align: right; font-size:20px">
     بازه‌های زمانی (time bins)
</div>

<div style="direction: rtl; text-align: right; font-size:17px">
    closed چیست؟
    <br>
    مشخص می‌کنه که لبه‌ی بسته (inclusive) کدام طرف بازه است (شروع یا پایان).
</div>

In [540]:
df.resample('ME', closed='left')

<div style="direction: rtl; text-align: right; font-size: 15px">
    'left': لبه‌ی سمت چپ (شروع بازه) شامل می‌شود.
    <br>
    'right': لبه‌ی سمت راست (پایان بازه) شامل می‌شود.
</div>

<div style="direction: rtl; text-align: right; font-size: 17px">
    label چیست؟
    <br>
    مشخص می‌کنه برچسب ایندکس نتیجه‌ی resample روی کدام طرف بازه باشد.
</div>

In [541]:
df.resample('ME', label='right')

<div style="direction: rtl; text-align: right; font-size: 15px">
'left': ایندکس خروجی روی شروع بازه قرار می‌گیره.
    <br>
'right': ایندکس خروجی روی پایان بازه قرار می‌گیره.
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    ترکیب مثال:
</div>

In [542]:
df.resample('ME', closed='right', label='right').sum()

            value
date
2023-01-31     60

<div style="direction: rtl; text-align: right; font-size: 30px">
     داده‌های دسته‌ای (گسسته)
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    مثل:
    <br>
    جنسیت (male, female)، سطح کیفیت (low, medium, high)، رنگ (red, green, blue)، و غیره.
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
    ساخت یک شیء Categorical
</div>

In [543]:
pd.Categorical(["x", "y", "z", "x", "y", "z"])

['x', 'y', 'z', 'x', 'y', 'z']
Categories (3, object): ['x', 'y', 'z']

<div style="direction: rtl; text-align: right; font-size: 25px">
     تعیین categories و ordered
</div>

In [544]:
pd.Categorical(
    ["low", "medium", "high", "low"],
    categories=["low", "medium", "high"],
    ordered=True
)

['low', 'medium', 'high', 'low']
Categories (3, object): ['low' < 'medium' < 'high']

<div style="direction: rtl; text-align: right; font-size: 20px">
    این یعنی دسته‌ها ترتیب دارند (low < medium < high)
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
    ساختار داخلی Categorical:
</div>

<div style="direction: rtl; text-align: right; font-size: 20px">
    یک شیء Categorical از سه بخش تشکیل شده:
    <br>
    • categories → دسته‌های یکتا (مثل: "قرمز", "آبی", "سبز")
    <br>
    • codes → اعداد صحیحی که به هر مقدار اختصاص داده میشه (مثلاً قرمز = 0)
    <br>
    • ordered → مشخص می‌کنه که این دسته‌ها ترتیب‌دار هستن یا نه
</div>

<div style="direction: rtl; text-align: right; font-size: 25px">
    دیدن دسته‌ها و کدها
</div>

In [545]:
cat = pd.Categorical(["a", "b", "a", "c"])
cat.categories

Index(['a', 'b', 'c'], dtype='object')

In [546]:
cat.codes

array([0, 1, 0, 2], dtype=int8)

<div style="direction: rtl; text-align: right; font-size: 25px">
    تغییر دسته‌ها
</div>

In [547]:
cat = cat.rename_categories({"": "", "": "", "":""})

<div style="direction: rtl; text-align: right; font-size: 25px">
     تغییر ترتیب دسته‌ها
</div>

In [548]:
cat = cat.reorder_categories(["a", "b", "c"], ordered=True)

<div style="direction: rtl; text-align: right; font-size: 25px">
    اضافه یا حذف دسته‌ها
</div>

In [549]:
cat.remove_unused_categories()

['a', 'b', 'a', 'c']
Categories (3, object): ['a' < 'b' < 'c']

In [550]:
cat = cat.add_categories(["g"])
print(cat)

['a', 'b', 'a', 'c']
Categories (4, object): ['a' < 'b' < 'c' < 'g']

<div style="direction: rtl; text-align: right; font-size: 20px">
    <br>
    <br>
    <br>
💢 امیدوارم که این Notebook مفید بوده باشه و بتونه به شما در یادگیری Pandas کمک کنه.سعی کردم تمام نکات و بخش های مهم NumPy رو براتون یکجا جمع کنم تا راحت به یادگیری بپردازیم ;)
    <br>
اگر سوالی و نکته ای بود میتونید با من از طریق ایمیل و یا تلگرام در ارتباط باشید.رفیق شما ارسلانم.
    <br>
    <br>
ما هنوز باور داریم به خدای رنگین کمان 💫🌈
</div>